nav.navbar {
  z-index: 9999;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: relative;
}

.navbar .navbar-brand {
  color: white;
  font-weight: bold;
}

.navbar a.active-link {
  color: #fff !important;
  transition: color 0.2s ease-in-out;
}
