.home-page {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  height: 100vh;
}

.home-page .houses-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100vh;
}

.home-page .houses-display .house-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
