.home-page {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  align-items: center;
}

.home-page .houses-display {
  width: 100%;
  height: 18rem;
}

.home-page .houses-display .house-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 2s ease-out;
  z-index: 0 !important;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 15rem;
}

.home-page .houses-display .house-card:hover {
  z-index: 1 !important;
  transition: none;
}

.house-image {
  width: 100%;
  height: 80px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}
.home-page .houses-title {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page .houses-title h1 {
  font-weight: 700;
  font-size: 10rem;
  margin: 0;
  padding: 0;
}
