.home-page {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  align-items: center;
}

.home-page .houses-display {
  width: 100%;
  height: 18rem;
}

/* House Card */
.home-page .houses-display .house-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 2s ease-out;
  z-index: 0 !important;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 15rem;
}

.home-page .houses-display .house-card:hover {
  z-index: 1 !important;
  transition: none;
}

/* Home Page Title */
.home-page .houses-title {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page .houses-title h1 {
  font-weight: 700;
  font-size: 10rem;
  margin: 0;
  padding: 0;
}

/* House Pop Up Modal */
.home-page .popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.home-page .popup-bg .main-content {
  /* background-color: #fff; */
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  position: relative;
}

.home-page .popup-bg .house-logo {
  height: 350px;
  width: 350px;
  position: relative;
  animation: logoAppear 1s ease-in-out forwards;
}

.home-page .popup-bg .house-logo .logo {
  background-clip: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 350px;
  width: 350px;
}

.home-page .popup-bg .house-logo::before {
  content: "";
  background: radial-gradient(circle, #f65959, transparent, transparent);
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  z-index: -1;
  animation: logoLightAppear 1s ease-in-out forwards;
}

.home-page .popup-bg .house-logo.al-ghuraab::before {
  background: radial-gradient(circle, #92c6ff, transparent, transparent);
}
.home-page .popup-bg .house-logo.an-nun::before {
  background: radial-gradient(circle, #70b4fd, transparent, transparent);
}
.home-page .popup-bg .house-logo.al-hudhud::before {
  background: radial-gradient(circle, #e9964e, transparent, transparent);
}
.home-page .popup-bg .house-logo.an-naml::before {
  background: radial-gradient(circle, #e5b063, transparent, transparent);
}
.home-page .popup-bg .house-logo.an-nahl::before {
  background: radial-gradient(circle, #e9b04b, transparent, transparent);
}
.home-page .popup-bg .house-logo.al-adiyat::before {
  background: radial-gradient(circle, #f65959, transparent, transparent);
}

.home-page .popup-bg .content {
  border-radius: 10px 0px 0px 10px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
  height: max-content;
  width: 500px;
  padding: 10px 5px 10px 5px;
  padding-left: 20px;
}

.home-page .popup-bg .content p {
  width: 500px;
  overflow: hidden;
  white-space: normal;
  font-size: 1rem;
  line-height: 1.5;
  max-height: 4.5rem;
}

.home-page .popup-bg .content-container {
  position: relative;
  width: 0px;
  white-space: nowrap;
  overflow: hidden;
  height: 250px;
  display: flex;
  align-items: center;
  animation: contentAppear 1s ease-in-out forwards;
}

.home-page .popup-bg .content h2,
.home-page .popup-bg .content p {
  padding: 0 !important;
  margin: 0 !important;
  color: #fff;
}

@keyframes logoAppear {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes logoLightAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentAppear {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 500px;
  }
}
