.home-page {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  align-items: center;
}

.home-page .houses-display {
  width: 100%;
  height: 18rem;
}

.home-page .houses-display .house-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 2s ease-out;
}

.house-image {
  width: 100%;
  height: 80px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}
.house-page .home-title {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
